<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}">
<meta name="description" content="{%$lngpack.description%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">

<link type="text/css" rel="stylesheet" href="{%$rootpath%}style/resetEn.css">
<link type="text/css" rel="stylesheet" href="{%$rootpath%}style/style.css">
<link type="text/css" rel="stylesheet" href="{%$rootpath%}style/swiper.min.css">
<link type="text/css" rel="stylesheet" href="{%$rootpath%}style/lightGallery.css">
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
<div id="wrap">
	<!--public head start-->
	{%link file="en/public/head.html"%}
	<!-- navigation start-->
	<!-- banner start -->
	<div class="bannerIn">
		<img src="{%$rootpath%}images/banner/pro.jpg">
	</div>
	<!-- banner end -->
	<!--second navigation start-->
	<div class="secNav clearfix">
		{%get name=typelist class=utid:$type.topid,tid:$type.tid%}
		{%forlist from=$array key=i%}
		<li {%div=>i=3%}class="extra"{%/div=>i%}>
			<a href="{%$array[i].link%}" {%if $array[i].selected==1 %}class="hover"{%/if%}>{%$array[i].typename%}</a>
		</li>
    	{%/forlist%}
		{%/get%}
	</div>
	<!--second navigation end-->
	<!--content start-->
	<div class="proD">
		<img src="/{%$read.pic%}">
		 <div class="title"><h1>Detail</h1></div>
		 {%$read.content%}
		 <div style="clear:both;"></div>
		 <div class="switch clearfix">
			{%get name=plist class=did:$read.did%}
			{%if $read.ctitle!=''%}<a href="{%$read.link%}" class="pre">Previus:{%$read.title%}</a>{%/if%}
			{%/get%}
			{%get name=plist class=did:$read.did,class:1%}
			{%if $read.ctitle!=''%}<a href="{%$read.link%}" class="next">Next:{%$read.title%}</a>{%/if%}
      		{%/get%}
    	</div>
	</div>
	<!--content end-->
	<!--public footer start-->
	{%link file="en/public/footer.html"%}
	<!--public footer end-->
</div>
</body>
</html>