   <div id="head">

               <!--  {%get name=lng%}

                {%forlist from=$array key=i%}

                {%if key=>i==2%}

                <a href="{%$array[i].link%}" class="lng">

                    <img src="{%$rootpath%}images/public/lng.png">

                    <span>EN</span>

                </a>

                {%else%}

                {%/if%}

                {%/forlist%}

                {%/get%} -->

                <a class="logo" href="{%$homelink%}">

                    <img src="{%$rootpath%}images/logo.png">

                </a>

                <div id="navSwitch">

                    <span class="s1"></span>

                    <p></p>

                    <span class="s3"></span>

                </div>

            </div>