<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>[%$softtitle%]</title>
		<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
		<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" language="JavaScript">
			var createmain_mess_title = "[%$ST.createmain_mess_title%]";
			var createmain_mess_title2 = "[%$ST.createmain_mess_title2%]";
			var createmain_mess_title3 = "[%$ST.createmain_mess_title3%]";
			var createmain_mess_title4 = "[%$ST.createmain_mess_title4%]";
			var createmain_creat_yes = "[%$ST.createmain_creat_yes%]";
			var createmain_creat_no = "[%$ST.createmain_creat_no%]";
			var createmain_creat_no_c = "[%$ST.createmain_creat_no_c%]";
			var createmain_creat_no_w = "[%$ST.createmain_creat_no_w%]";
			var createmain_creat_no_t = "[%$ST.createmain_creat_no_t%]";
			var createmain_creat_bottonname = "[%$ST.createmain_creat_bottonname%]";
			var botton_close = "[%$ST.botton_close%]";
			var createmain_creat_title = "[%$ST.createmain_creat_title%]";
			var err_createmain_err_title = "[%$ST.err_createmain_err_title%]";
			var createmain_js_add_ok = "[%$ST.createmain_js_add_ok%]";
			var is_html = "[%$is_html%]";
			$(document).ready(function() {
				var h = $(window).height();
				$('#mainwindowhidden').css({height: h - 39});
				if (is_html == 1) {
					get_load();
				} else {
					$('#filecheckmanger').empty();
					$('#filecheckmanger').append(err_createmain_err_title);
				}
			});

			function get_load() {
				var loadurl = "index.php?archive=createmain&action=statype";

				$('#coasecreat').attr('disabled', 'true');

				$('#coasecreat').val(createmain_creat_bottonname);
				$('#loadingline').css("width", 0);
				$.ajax({
					type: "POST",
					url: loadurl,
					dataType: 'json',
					data: "lng=[%$read.lng%]&mid=[%$read.mid%]&tid=[%$read.tid%]&creattype=[%$read.creattype%]",
					success: function(date) {

						$('#filecheckmanger').remove();

						$('#filecheckloading').removeClass().addClass('formdiv displaytrue');
						var newHTML = createmain_mess_title + '<b><u> ' + date.num + ' </u></b>' + createmain_mess_title2;
						$("#loadtext").append(newHTML);

						if (date.num > 0) {

							var countmax = 500 / date.num;
							typeload(date.typelist, countmax, 1);
						} else {
							$("#dochtmltext").append(createmain_js_add_ok);
							$('#coasecreat').val(botton_close);
							$('#coasecreat').attr('disabled', '');
						}
					}
				});

				$(this).ajaxStop(function() {
					$("#dochtmltext").append("<br>" + createmain_js_add_ok);
					$('#coasecreat').val(botton_close);
					$('#coasecreat').attr('disabled', '');
				});
			}

			function typeload(typelist, countmax, forid) {

				var typeArray = typelist.split(',');

				if (!typeArray[0]) {
					return false;
				}
				var loadurl = "index.php?archive=createmain&action=creattypesave&class=type";
				var typeid = typeArray[0];

				$.ajax({
					type: "POST",
					url: loadurl,
					data: "lng=[%$read.lng%]&tid=" + typeid + "&creattype=[%$read.creattype%]&pnumber=[%$read.pnumber%]",
					success: function(date) {
						if (date != 'false') {
							var str = date + '<br/>';
							$("#htmltext").empty().append(str);
							$("#loadnum").empty().append(forid);
							var width = forid * countmax;
							$('#loadingline').css("width", width);
							typeArray = typeArray.splice(1);
							forid++;

							var nowtypelist = typeArray.join(',');
							typeload(nowtypelist, countmax, forid);
						}
					}
				});
			}

			function loadclose() {
				parent.closeifram();
			}
		</script>
	</head>

	<body>
		<div class="centerrightwindow">
			<div id="mainwindowhidden">
				<div class="suggestion">
					<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="padding-left5 colorgorningage">[%$ST.createmain_creattype_title%]</span></span>
				</div>
				<div class="sugtitle-line"></div>
				<div class="formdiv" id="filecheckmanger">
					<table border="0" width="100%">
						<tr>
							<td id="center" style="padding:25px;"><img alt="" src="templates/images/loading_02.gif" /></td>
						</tr>
						<tr>
							<td id="center" class="strong colorgorning2" style="padding:0px">[%$ST.loading_title_mess%]</td>
						</tr>
					</table>
				</div>
				<div class="formdiv displaynone" id="filecheckloading">
					<table border="0" width="100%">
						<tr>
							<td id="loadtext" style="padding-top:10px;" class="colorgorning2 center lineheight160"></td>
						</tr>
						<tr>
							<td width="100%" style="padding-top:10px;" class="center">
								<div class="loadingtable" id="loadingtable">
									<div class="loadingline" id="loadingline"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td id="htmltext" style="padding-top:5px;" class="colorgorningage center lineheight160"></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="downbotton">
				<div id="subbotton">
					<table border="0" width="100%">
						<tr id="bottonsubmit">
							<td id="center"><input type="button" name="cancel" id="coasecreat" onClick="javascript:loadclose();" value="[%$ST.botton_close%]" class="button orange"/></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
      