.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview .hitarea {
	height: 25px;
	width: 16px;
	float: left;
	cursor: pointer;
}
.treeview .open-hitarea {background: url(../images/arrow_state_grey_right.gif) -0px 4px no-repeat;}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	line-height: 25px;
	background: url(../images/arrow_state_grey_right.gif) 0px 4px no-repeat;
	overflow: hidden;
}

.treeview a.selected {
	font-weight: bold;
}
.onefast{background: url(../images/arrow_state_grey_right.gif) 0px 4px no-repeat;padding-left:16px;}
li.one{background: url(../images/arrow_state_grey_right.gif) 10px 4px no-repeat;padding-left:25px;}
li.tow{background: url(../images/arrow_state_grey_right.gif) 20px 4px no-repeat;padding-left:35px;}
li.four{background: url(../images/arrow_state_grey_right.gif) 30px 4px no-repeat;padding-left:45px;}
li.five{background: url(../images/arrow_state_grey_right.gif) 40px 4px no-repeat;padding-left:55px;}
li.six{background: url(../images/arrow_state_grey_right.gif) 50px 4px no-repeat;padding-left:65px;}

.treeview li.collapsable, .treeview li.expandable {background-image: none;padding:0px;}
.treeview .collapsable-hitarea {background: url(../images/arrow_state_blue_down.gif) -0px 4px no-repeat;}

.treeview .expandable-hitarea {background: url(../images/arrow_state_blue_right.gif) -0px 4px no-repeat;}

.treeview .-hitarea,.treeview .last-hitarea {background: url(../images/arrow_state_grey_right.gif) -0px -0px no-repeat;}

.one .hitarea{margin-left: 10px;}
.tow .hitarea{margin-left: 20px;}
.four .hitarea{margin-left: 30px;}
.five .hitarea{margin-left: 40px;}
.six .hitarea{margin-left: 50px;}

      