.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview .hitarea {
	height: 15px;
	width: 16px;
	float: left;
	cursor: pointer;
}
.treeview .open-hitarea {background: url(../images/arrow_state_grey_right.gif) -0px -0px no-repeat;}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:left;
}

.treeview li {
	margin: 0;
	padding: 0px;
}

.onefast{background: url(../images/arrow_state_grey_right.gif) 0px 6px no-repeat;padding-left:16px;}
.treeview li.collapsable, .treeview li.expandable {  }
.treeview .collapsable-hitarea {background: url(../images/arrow_state_blue_down.gif) -0px -0px no-repeat;}
.treeview .expandable-hitarea {background: url(../images/arrow_state_blue_right.gif) -0px -0px no-repeat;}
.treeview .-hitarea,.treeview .last-hitarea {background: url(../images/arrow_state_grey_right.gif) -0px -0px no-repeat;}

.one .hitarea{margin-left: 10px;}
.tow .hitarea{margin-left: 20px;}
.four .hitarea{margin-left: 30px;}
.five .hitarea{margin-left: 40px;}
.six .hitarea{margin-left: 50px;}

      