<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{%$lngpack.sitename%}</title>
    <meta name="keywords" content="{%$lngpack.keyword%}" />
    <meta name="description" content="{%$lngpack.description%}" />
    <link rel="shortcut icon" href="{%$rootpath%}images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/common.css">
    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/inside.css">
</head>

<body>
    <!-- 导航栏 -->
    {%link file="cn/public/head.html"%}
    <!-- 导航栏结束 -->
    <!-- banner -->
    <div class="innerbanner clearfix">
        {%if $type.typepic!==''%}
        <img src="{%$rootdir%}{%$type.typepic%}" alt=""> {%/if%}
    </div>
    <!-- banner end -->
    <!-- 中部 -->
    <div class="location clearfix">
        <div class="middle clearfix">
            <div class="type">
                <strong>{%$type.typename%}</strong> {%$type.content|htmlcode(1)%}
            </div>
            <!-- 位置 -->
            {%list name=path class=type:type,id:$type.tid%}
            <!-- 位置结束 -->
        </div>
    </div>
    <!-- 右侧 -->
    <div class="about min-height">
        <div class="middle clearfix">
            <!-- 左侧 -->
            {%link file="cn/public/left.html"%}
            <!-- 左侧结束 -->
            <div class="right-content">
                {%$read.content%}
                <div class="mod18">
                    <span id="prev" class="btn prev"></span>
                    <span id="next" class="btn next"></span>
                    <div id="listBox" class="listBox">
                        <ul class="cf">
                            {%get name=list class=mid:8,tid:16%} {%forlist from=$array key=i%}
                            <li {%if key=>i==1%}class="on"{%/if%}><i {%if key=>i==1%}class="arr2"{%/if%}></i><img src="{%$array[i].pic%}" /></li>
                            {%/forlist%} {%/get%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧结束 -->
    <!-- 中部结束 -->
    <!-- footer -->
    {%link file="cn/public/footer.html"%}
    <!-- footer end-->
</body>
<script type="text/javascript">
(function() {

    function G(s) {
        return document.getElementById(s);
    }

    function getStyle(obj, attr) {
        if (obj.currentStyle) {
            return obj.currentStyle[attr];
        } else {
            return getComputedStyle(obj, false)[attr];
        }
    }

    function Animate(obj, json) {
        if (obj.timer) {
            clearInterval(obj.timer);
        }
        obj.timer = setInterval(function() {
            for (var attr in json) {
                var iCur = parseInt(getStyle(obj, attr));
                iCur = iCur ? iCur : 0;
                var iSpeed = (json[attr] - iCur) / 5;
                iSpeed = iSpeed > 0 ? Math.ceil(iSpeed) : Math.floor(iSpeed);
                obj.style[attr] = iCur + iSpeed + 'px';
                if (iCur == json[attr]) {
                    clearInterval(obj.timer);
                }
            }
        }, 30);
    }

    var oPic = G("picBox");
    var oList = G("listBox");

    var oPrev = G("prev");
    var oNext = G("next");

    var oListLi = oList.getElementsByTagName("li");
    var len2 = oListLi.length;

    var oListUl = oList.getElementsByTagName("ul")[0];
    var w2 = oListLi[0].offsetWidth;

    oListUl.style.width = w2 * len2 + "px";

    var index = 0;

    var num = 5;
    var num2 = Math.ceil(num / 2);

    function Change() {


        if (index < num2) {
            Animate(oListUl, {
                left: 0
            });
        } else if (index + num2 <= len2) {
            Animate(oListUl, {
                left: -(index - num2 + 1) * w2
            });
        } else {
            Animate(oListUl, {
                left: -(len2 - num) * w2
            });
        }

        for (var i = 0; i < len2; i++) {
            oListLi[i].className = "";
            if (i == index) {
                oListLi[i].className = "on";
            }
        }
    }

    oNext.onclick = function() {
        index++;
        index = index == len2 ? 0 : index;
        Change();
    }

    oPrev.onclick = function() {
        index--;
        index = index == -1 ? len2 - 1 : index;
        Change();
    }

    for (var i = 0; i < len2; i++) {
        oListLi[i].index = i;
        oListLi[i].onclick = function() {
            index = this.index;
            Change();
        }
    }

})()
</script>

</html>
