<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{%$lngpack.sitename%}</title>
    <meta name="keywords" content="{%$lngpack.keyword%}" />
    <meta name="description" content="{%$lngpack.description%}" />
    <link rel="shortcut icon" href="{%$rootpath%}images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/common.css">
    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/inside.css">
    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/Bimg.css">
</head>

<body>
    <!-- 导航栏 -->
    {%link file="cn/public/head.html"%}
    <!-- 导航栏结束 -->
    <!-- banner -->
    <div class="innerbanner clearfix">
        {%if $type.typepic!==''%}
        <img src="{%$rootdir%}{%$type.typepic%}" alt=""> {%/if%}
    </div>
    <!-- banner end -->
    <!-- 中部 -->
    <div class="location clearfix">
        <div class="middle clearfix">
            <div class="type">
                <strong>{%$type.typename%}</strong> {%$type.content|htmlcode(1)%}
            </div>
            <!-- 位置 -->
            {%list name=path class=type:type,id:$type.tid%}
            <!-- 位置结束 -->
        </div>
    </div>
    <!-- 右侧 -->
    <div class="zone min-height">
        <div class="middle clearfix">
            <!-- 左侧 -->
            {%link file="cn/public/left.html"%}
            <!-- 左侧结束 -->
            <div class="right-content">
                {%if count($array) > 0%}
                <ul id="date_p" class="zone-pic clearfix">
                    {%forlist from=$array key=i%}
                    <li {%div=>i=3%}class='clearMR'{%/div=>i%}>
                        <a title="{%$array[i].title%}" href="{%$array[i].pic%}" rel="lytebox[plants]">
                            <img src="{%$array[i].pic|zoom(300,200,'#fff',1)%}" alt="">
                            <p>{%$array[i].title%}</p>
                            <p>{%$array[i].longtitle%}</p>
                        </a>
                    </li>
                    {%/forlist%}
                </ul>
                <div class="fh_botton" style="width:680px;">
                    <div id="pagination" class="pagination">
                        {%$pagebotton%}
                    </div>
                </div>
                {%else%}
                <div class="fh_botton">
                    <div id="pagination">暂无内容</div>
                </div>
                {%/if%}
            </div>
        </div>
    </div>
    <!-- 右侧结束 -->
    <!-- 中部结束 -->
    <!-- footer -->
    {%link file="cn/public/footer.html"%}
    <!-- footer end-->
</body>
<script src="{%$rootpath%}js/Bimg.js"></script>
<script src="{%$rootpath%}js/jquery.min.js"></script>
</html>
