[%if count($upfilearray) > 0%]
<div class="infolist">
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF" onclick="javascript:search('[%$upfilearray.loadurl%]');">
		<tr>
			<td width="5%"></td>
			<td width="40%" id="left" class="padding-left3"><img src="templates/images/fileicon/dir.png">/[%$upfilearray.filepath%]</td>
			<td width="10%"></td>
			<td width="20%"></td>
			<td width="25%" id="infotype">
				<table border="0" style="border-collapse:collapse" bordercolor="#FFFFFF">
					<tr>
						<td><a class="setedit3" href="#body" onclick="javascript:search('[%$upfilearray.loadurl%]');" title="[%$ST.filemanage_view_updir%]" hidefocus="true">[%$ST.filemanage_view_updir%]</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
[%/if%]
<input type="hidden" name="filepath" id="filepath" value="[%$filepath%]">
[%if count($array) > 0%]
[%forlist from=$array key=list%]
<div class="infolist">
	<table border="0"  style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td width="5%"><input type="checkbox" name="selectinfoid" value="[%$array[list].fiid%]"></td>
			<td width="40%" id="left" class="padding-left3"[%if $array[list].filetype=='dir'%] title="[%$ST.filemanage_view_opendir%]"  onClick="javascript:search('[%$array[list].loadurl%]');"[%/if%]><img src="templates/images/fileicon/[%$array[list].extension%].png"> [%$array[list].filename%]</td>
			<td width="10%">[%if $array[list].filetype!='dir'%][%$array[list].size|format_size(1)%][%/if%]</td>
			<td width="20%">[%$array[list].addtime|timeformat(3)%]</td>
			<td width="25%" id="infotype">
				<table border="0" style="border-collapse:collapse" bordercolor="#FFFFFF">
					<tr>
						[%if $array[list].filetype=='img'%]
							<td>
								<a class="setedit" target="_blank" href="[%$array[list].url%]" hidefocus="true">[%$ST.filemanage_view_botton%]</a>
							</td>
							[%if @this->powercheck('communicate','fileedit')==true %]
							<td class="padding-left3">
								<a class="setedit2" onclick="javascript:parent.onbotton('[%$ST.filemanage_view_edit%]','index.php?archive=filemain&action=imagecrop&dir=[%$array[list].filepath%]&filename=[%$array[list].filename%]&type=[%$array[list].filetype%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'imagecrop[%$array[list].fiid%]',self.frameElement.getAttribute('name'));" id="imagecrop[%$array[list].fiid%]" href="#body" title="[%$ST.filemanage_view_edit%]" hidefocus="true">[%$ST.filemanage_view_edit%]</a>
							</td>
							[%/if%]
						[%/if%]
						[%if @this->powercheck('communicate','fileedit')==true && $array[list].filetype=='dir' %]
						<td class="padding-left3">
							<a class="setedit3" onclick="javascript:parent.onbotton('[%$ST.filemanage_view_rename1%]','index.php?archive=filemain&action=renamedir&dir=[%$array[list].filepath%]&filename=[%$array[list].filename%]&type=dir&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'filerename[%$array[list].fiid%]',self.frameElement.getAttribute('name'));" id="filerename[%$array[list].fiid%]" href="#body" title="[%$ST.filemanage_view_rename1%]" hidefocus="true">[%$ST.filemanage_view_rename1%]</a>
						</td>
						[%/if%]
						[%if @this->powercheck('communicate','fileedit')==true && $array[list].filetype!='dir' %]
						<td class="padding-left3">
							<a class="setedit3" onclick="javascript:parent.onbotton('[%$ST.filemanage_view_rename%]','index.php?archive=filemain&action=renamedir&dir=[%$array[list].filepath%]&filename=[%$array[list].filename%]&type=[%$array[list].filetype%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'filerename[%$array[list].fiid%]',self.frameElement.getAttribute('name'));" id="filerename[%$array[list].fiid%]" href="#body" title="[%$ST.filemanage_view_rename%]" hidefocus="true">[%$ST.filemanage_view_rename%]</a>
						</td>
						[%/if%]
					</tr>
				</table>

			</td>
		</tr>
	</table>
</div>
[%/forlist%]
[%else%]
<div class="infolist">
	<table border="0" style="border-collapse:collapse" width="100%" bordercolor="#FFFFFF">
		<tr>
			<td align="center">[%$ST.list_nothing_title%]</td>
		</tr>
	</table>
</div>
[%/if%]      