@charset "utf-8";
/*
*	****************************************
*	*           Reset style               
*	****************************************
*/
html,body,ol,ul,li,p,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,input,textarea,figure{
	margin:0;
	padding:0;
}
html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
	outline:none;
}
a:active{
	outline: none;
}
li{
	list-style:none;
}
img{
	border:0;
}