<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="10%"><a id="btlimit_skid" class="infolink06" href="javascript:onlimit('skid','asc','#btlimit_skid','#limit_skid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.skinmain_text_mid%]</a><span id="limit_skid" class="limitdesc"></span></td>
		<td width="25%">[%$ST.skinmain_text_title%]</td>
		<td width="15%">[%$ST.skinmain_text_code%]</td>
		<td width="10%">[%$ST.skinmain_text_type%]</td>
		<td width="10%">[%$ST.skinmain_text_lockin%]</td>
		<td width="10%">[%$ST.skinmain_text_class%]</td>
		<td width="20%">[%$ST.skinmain_text_set%]</td>
	</tr>
</table>