<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="8%"><a id="btlimit_osrid" class="infolink06" href="javascript:onlimit('osrid','asc','#btlimit_osrid','#limit_osrid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.shipreceiptlist_text_oprid%]</a><span id="limit_osrid" class="limitdesc"></span></td>
		<td width="20%">[%$ST.shipreceiptlist_text_shippingsn%]</td>
		<td width="20%">[%$ST.shipreceiptlist_text_ordersn%]</td>
		<td width="12%">[%$ST.shipreceiptlist_text_shippingmoney%]</td>
		<td width="17%">[%$ST.shipreceiptlist_text_addtime%]</td>
		<td width="8%">[%$ST.shipreceiptlist_text_class%]</td>
		<td width="10%">[%$ST.shipreceiptlist_text_set%]</td>
	</tr>
</table>