<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>

		<td width="10%"><a id="btlimit_pid" class="infolink06" href="javascript:onlimit('pid','desc','#btlimit_pid','#limit_pid','#limit_sid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forumtype_text_pid%]</a><span id="limit_pid" class="limitdesc displaynone"></span></td>
		<td width="5%"><a id="btlimit_sid" class="infolink06" href="javascript:onlimit('wxmid','asc','#btlimit_sid','#limit_sid','#limit_pid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forumtype_text_tid%]</a><span id="limit_sid" class="limitdesc"></span></td>

		<td width="25%">[%$ST.wxmenu_text_menuname%]</td>
		<td width="10%">[%$ST.wxmenu_text_menutype%]</td>
		<td width="10%">[%$ST.lock_botton%]</td>
		<td width="35%">[%$ST.mailtemplatemain_text_set%]</td>
	</tr>
</table>