<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="8%"><a id="btlimit_oprid" class="infolink06" href="javascript:onlimit('oprid','asc','#btlimit_oprid','#limit_oprid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.payreceiptlist_text_oprid%]</a><span id="limit_oprid" class="limitdesc"></span></td>
		<td width="23%">[%$ST.payreceiptlist_text_paysn%]</td>
		<td width="22%">[%$ST.payreceiptlist_text_ordersn%]</td>
		<td width="12%">[%$ST.payreceiptlist_text_orderamount%]</td>
		<td width="12%">[%$ST.payreceiptlist_text_bankaccount%]</td>
		<td width="8%">[%$ST.payreceiptlist_text_class%]</td>
		<td width="10%">[%$ST.payreceiptlist_text_set%]</td>
	</tr>
</table>