<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="10%"><a id="btlimit_skid" class="infolink06" href="javascript:onlimit('tmid','asc','#btlimit_skid','#limit_skid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.mailtemplatemain_text_mid%]</a><span id="limit_skid" class="limitdesc"></span></td>
		<td width="10%">[%$ST.smstemplatemain_text_lng%]</td>
		<td width="35%">[%$ST.smstemplatemain_text_title%]</td>
		<td width="20%">[%$ST.smstemplatemain_text_templatecode%]</td>
		<td width="10%">[%$ST.mailtemplatemain_text_isopen%]</td>
		<td width="10%">[%$ST.mailtemplatemain_text_set%]</td>
	</tr>
</table>