<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="10%"><a id="btlimit_osrid" class="infolink06" href="javascript:onlimit('eid','asc','#btlimit_osrid','#limit_osrid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.enquirymain_text_eid%]</a><span id="limit_osrid" class="limitdesc"></span></td>
		<td width="20%">[%$ST.enquirymain_text_enquirysn%]</td>
		<td width="15%">[%$ST.enquirymain_text_linkman%]</td>
		<td width="10%">[%$ST.enquirymain_text_userid%]</td>
		<td width="17%">[%$ST.enquirymain_text_addtime%]</td>
		<td width="10%">[%$ST.enquirymain_text_isclass%]</td>
		<td width="13%">[%$ST.enquirymain_text_set%]</td>
	</tr>
</table>