<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="8%"><a id="btlimit_amid" class="infolink06" href="javascript:onlimit('mlvid','asc','#btlimit_amid','#limit_amid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forumtype_text_tid%]</a><span id="limit_amid" class="limitdesc"></span></td>
		<td width="26%">[%$ST.mailinvite_send_text_title%]</td>
		<td width="8%">[%$ST.mailinvite_send_text_sendhow%]</td>
		<td width="15%">[%$ST.mailinvite_send_text_sendtime%]</td>
		<td width="15%">[%$ST.templatemain_text_time%]</td>
		<td width="8%">[%$ST.forumtype_text_class%]</td>
		<td width="15%">[%$ST.templatemain_text_set%]</td>
	</tr>
</table>