<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="10%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="10%">[%$ST.memclassmanage_text_mcid%]</td>
		<td width="40%">[%$ST.memclassmanage_text_rankname%]</td>
		<td width="10%">[%$ST.memclassmanage_text_inter%]</td>
		<td width="10%">[%$ST.memclassmanage_text_isinter%]</td>
		<td width="10%">[%$ST.memclassmanage_text_class%]</td>
		<td width="10%">[%$ST.memclassmanage_text_set%]</td>
	</tr>
</table>