<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="3%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="7%"><a id="bbslimit_bid" class="infolink06" href="javascript:onlimit('bid','asc','#bbslimit_bid','#bbs_limit_bid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forummain_text_mid%]</a><span id="bbs_limit_bid" class="limitdesc"></span></td>
		<td width="40%">[%$ST.forummain_text_title%]</td>
		<td width="15%">[%$ST.formmessmain_text_addtime%]</td>
		<td width="5%">[%$ST.forummain_text_replynum%]</td>
		<td width="5%">[%$ST.forummain_text_istop%]</td>
		<td width="8%">[%$ST.forummain_text_class%]</td>
		<td width="17%">[%$ST.forummain_text_set%]</td>
	</tr>
</table>