<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="4%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="7%"><a id="btlimit_pid" class="infolink06" href="javascript:onlimit('pid','desc','#btlimit_pid','#limit_pid','#limit_sid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forumtype_text_pid%]</a><span id="limit_pid" class="limitdesc displaynone"></span></td>
		<td width="7%"><a id="btlimit_sid" class="infolink06" href="javascript:onlimit('btid','asc','#btlimit_sid','#limit_sid','#limit_pid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.forumtype_text_tid%]</a><span id="limit_sid" class="limitdesc"></span></td>
		<td width="6%">[%$ST.lng_title%]</td>
		<td width="30%">[%$ST.forumtype_text_subjectname%]</td>
		<td width="10%">[%$ST.forumtype_text_purview%]</td>
		<td width="7%">[%$ST.formmain_text_ismenu%]</td>
		<td width="11%">[%$ST.forumtype_text_class%]</td>
		<td width="18%">[%$ST.forumtype_text_set%]</td>
	</tr>
</table>