<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="4%"><input type="checkbox" name="check_all" value="1" id="check_all" onClick="select_ok('selectform', 'selectall', 'check_all');"/></td>
		<td width="6%">[%$ST.mangerlist_text_id%]</td>
		<td width="15%">[%$ST.mangerlist_text_username%]</td>
		<td width="13%">[%$ST.mangerlist_text_name%]</td>
		<td width="10%">[%$ST.mangerlist_text_group%]</td>
		<td width="14%">[%$ST.mangerlist_text_addtime%]</td>
		<td width="5%">[%$ST.mangerlist_text_hit%]</td>
		<td width="10%">[%$ST.mangerlist_text_ip%]</td>
		<td width="7%">[%$ST.mangerlist_text_class%]</td>
		<td width="16%">[%$ST.mangerlist_text_set%]</td>
	</tr>
</table>