<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="8%"><a id="btlimit_pid" class="infolink06" href="javascript:onlimit('pid','desc','#btlimit_pid','#limit_pid','#limit_opid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.orderpay_text_pid%]</a><span id="limit_pid" class="limitdesc displaynone"></span></td>
		<td width="10%"><a id="btlimit_opid" class="infolink06" href="javascript:onlimit('opid','asc','#btlimit_opid','#limit_opid','#limit_pid','selectform','selectall','check_all')"  hidefocus="true">[%$ST.orderpay_text_opid%]</a><span id="limit_opid" class="limitdesc"></span></td>
		<td width="25%">[%$ST.orderpay_text_name%]</td>
		<td width="12%">[%$ST.orderpay_text_paycode%]</td>
		<td width="12%">[%$ST.orderpay_text_price%]</td>
		<td width="12%">[%$ST.orderpay_text_payplugver%]</td>
		<td width="8%">[%$ST.orderpay_text_class%]</td>
		<td width="8%">[%$ST.orderpay_text_set%]</td>
	</tr>
</table>