<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="5%"><input type="checkbox" name="check_all" id="check_all" value="1" onClick="select_ok('selectform','selectall','check_all');"/></td>
		<td width="5%"><a id="btlimit_skid" class="infolink06" href="javascript:onlimit('wxid','asc','#btlimit_skid','#limit_skid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.mailtemplatemain_text_mid%]</a><span id="limit_skid" class="limitdesc"></span></td>
		<td width="23%">[%$ST.weixinmain_text_wxname%]</td>
		<td width="10%">[%$ST.weixinmain_text_wxtype%]</td>
		<td width="7%">[%$ST.lock_botton%]</td>
		<td width="50%">[%$ST.mailtemplatemain_text_set%]</td>
	</tr>
</table>