<table border="0" width="100%" bordercolor="#FFFFFF">
	<tr>
		<td width="10%"><a id="btlimit_skid" class="infolink06" href="javascript:onlimit('tmid','asc','#btlimit_skid','#limit_skid','','selectform','selectall','check_all')"  hidefocus="true">[%$ST.printtemplatemain_text_mid%]</a><span id="limit_skid" class="limitdesc"></span></td>
		<td width="60%">[%$ST.printtemplatemain_text_title%]</td>
		<td width="10%">[%$ST.printtemplatemain_text_lockin%]</td>
		<td width="20%">[%$ST.printtemplatemain_text_set%]</td>
	</tr>
</table>