[%#%]表单字段列表[%#%]
[%if $menutype == 'formattlist'%]
<ul class="listbottonul" id="listbottonul">
	[%if @this->powercheck('communicate','formattradd')==true %]
	<li class="menumain"><a class="addinfo" onclick="javascript:parent.onbotton('[%$ST.formmain_attr_add|addslashes('hc')%]','index.php?archive=formmain&action=formattradd&fgid=[%$fgid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addattr[%$fgid%]',self.frameElement.getAttribute('name'));" id="addattr[%$fgid%]" href="#body" title="[%$ST.formmain_attr_add%]" hidefocus="true">[%$ST.formmain_attr_add%]</a></li>
	[%/if%]
	<li class="menumain"><a class="selectall" id="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" title="[%$ST.selAll_botton%]" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	<li class="menumain"><a id="bolt" href="#body" hidefocus="true" hidefocus="true">[%$ST.bolt_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.user_type_botton%]</span>
				<ul>
					<li><a class="menunoclick" id="attrisclass0" href="#body" onclick="javascript:dbfilter('attrisclass','isclass',0,0,3,'selectform','selectall','check_all')" title="[%$ST.all_botton%]" hidefocus="true">[%$ST.all_botton%]</a></li>
					<li><a class="menuclick" id="attrisclass1" href="#body" onclick="javascript:dbfilter('attrisclass','isclass',1,1,3,'selectform','selectall','check_all')" title="[%$ST.open_botton_title%]" hidefocus="true">[%$ST.open_botton_title%]</a></li>
					<li><a class="menuclick" id="attrisclass2" href="#body" onclick="javascript:dbfilter('attrisclass','isclass',2,2,3,'selectform','selectall','check_all')" title="[%$ST.close_botton_title%]" hidefocus="true">[%$ST.close_botton_title%]</a></li>
				</ul>
			</li>
			<li><span class="menufont">[%$ST.modelmanage_attr_add_isvalidate%]</span>
				<ul>
					<li><a class="menunoclick" id="attisvalidate0" href="#body" onclick="javascript:dbfilter('attisvalidate','isvalidate',0,0,3,'selectform','selectall','check_all')" title="[%$ST.all_botton%]" hidefocus="true">[%$ST.all_botton%]</a></li>
					<li><a class="menuclick" id="attisvalidate1" href="#body" onclick="javascript:dbfilter('attisvalidate','isvalidate',1,1,3,'selectform','selectall','check_all')" title="[%$ST.open_botton_title%]" hidefocus="true">[%$ST.open_botton_title%]</a></li>
					<li><a class="menuclick" id="attisvalidate2" href="#body" onclick="javascript:dbfilter('attisvalidate','isvalidate',2,2,3,'selectform','selectall','check_all')" title="[%$ST.close_botton_title%]" hidefocus="true">[%$ST.close_botton_title%]</a></li>
				</ul>
			</li>
			<li><span class="menufont">[%$ST.formmain_attr_add_isline%]</span>
				<ul>
					<li><a class="menunoclick" id="memattisline0" href="#body" onclick="javascript:dbfilter('memattisline','isline',0,0,3,'selectform','selectall','check_all')" title="[%$ST.all_botton%]" hidefocus="true">[%$ST.all_botton%]</a></li>
					<li><a class="menuclick" id="memattisline1" href="#body" onclick="javascript:dbfilter('memattisline','isline',1,1,3,'selectform','selectall','check_all')" title="[%$ST.is_yes%]" hidefocus="true">[%$ST.is_yes%]</a></li>
					<li><a class="menuclick" id="memattisline2" href="#body" onclick="javascript:dbfilter('memattisline','isline',2,2,3,'selectform','selectall','check_all')" title="[%$ST.is_no%]" hidefocus="true">[%$ST.is_no%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%if @this->powercheck('communicate','delformattr')==true %]
	<li class="menumain"><a id="del" onclick="javascript:callrun('index.php?archive=formmain&action=delformattr','attrselectinfoid',false,null,null,'index.php?archive=management&action=load','[%$ST.del_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.del_botton%]</a></li>
	[%/if%]
	[%if @this->powercheck('communicate','formattredit')==true %]
	<li class="menumain"><a id="sortall" onclick="javascript:sortinput('index.php?archive=formmain&action=attrsort','index.php?archive=management&action=load','[%$ST.sort_messok%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.pid_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
	[%if @this->powercheck('communicate','formattredit')==true %]
	<li class="menumain"><a id="setbotton" href="#body" hidefocus="true" title="[%$ST.set_botton%]">[%$ST.set_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.user_type_set_botton%]</span>
				<ul>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=formmain&action=attrsetting','attrselectinfoid',true,'isclass',1,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.open_botton_title%]" hidefocus="true">[%$ST.open_botton_title%]</a></li>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=formmain&action=attrsetting','attrselectinfoid',true,'isclass',0,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.close_botton_title%]" hidefocus="true">[%$ST.close_botton_title%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%/if%]
</ul>
[%/if%]      