[%#%]分类列表[%#%]
[%if $menutype == 'typelist'%]
<ul class="listbottonul" id="listbottonul">
	[%if @this->powercheck('article','typeadd')==true %]
	<li class="menumain"><a id="addinfo" class="addinfo" onclick="javascript:parent.onbotton('[%$ST.botton_add_type|addslashes('hc')%]','index.php?archive=typemanage&action=typeadd&mid=[%$tabarray.mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addinfo',self.frameElement.getAttribute('name'));"  href="#body" title="[%$ST.botton_add_type%]" hidefocus="true">[%$ST.botton_add_type%]</a></li>
	<li class="menumain"><a id="addinfo2" class="addinfo" onclick="javascript:parent.onbotton('[%$ST.botton_add_type_base|addslashes('hc')%]','index.php?archive=typemanage&action=typeadd&styleid=4&mid=[%$tabarray.mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addinfo2',self.frameElement.getAttribute('name'));"  href="#body" title="[%$ST.botton_add_type_base%]" hidefocus="true">[%$ST.botton_add_type_base%]</a></li>
	<li class="menumain"><a id="addinfo3" class="addinfo" onclick="javascript:parent.onbotton('[%$ST.botton_add_type_link|addslashes('hc')%]','index.php?archive=typemanage&action=typeadd&styleid=3&mid=[%$tabarray.mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addinfo3',self.frameElement.getAttribute('name'));"  href="#body" title="[%$ST.botton_add_type_link%]" hidefocus="true">[%$ST.botton_add_type_link%]</a></li>
	[%/if%]
	<li class="menumain"><a id="selectall" class="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" title="[%$ST.selAll_botton%]" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	[%if @this->powercheck('article','typeedit')==true %]
	<li class="menumain"><a id="sortall" onclick="javascript:sortinput('index.php?archive=typemanage&action=sort','index.php?archive=management&action=load','[%$ST.sort_messok%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.pid_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
	[%if @this->powercheck('article','typeedit')==true %]
	<li class="menumain"><a id="setbotton" href="#body" hidefocus="true" title="[%$ST.set_botton%]">[%$ST.set_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.inputtype_set_botton%]</span>
				<ul>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting','selectinfoid',true,'isclass',1,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.infooktype_botton%]" hidefocus="true">[%$ST.infooktype_botton%]</a></li>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting','selectinfoid',true,'isclass',0,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.lockoktype_botton%]" hidefocus="true">[%$ST.lockoktype_botton%]</a></li>
				</ul>
			</li>
			<li><span class="menufont">[%$ST.typemanage_ismenu_botton%]</span>
				<ul>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting&ch=1','selectinfoid',true,'ismenu',1,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.open_botton_title%]" hidefocus="true">[%$ST.open_botton_title%]</a></li>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting&ch=1','selectinfoid',true,'ismenu',0,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.close_botton_title%]" hidefocus="true">[%$ST.close_botton_title%]</a></li>
				</ul>
			</li>
			<li><span class="menufont">[%$ST.typemanage_type_add_isaccessory_set%]</span>
				<ul>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting&ch=1','selectinfoid',true,'isaccessory',1,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.infook_botton%]" hidefocus="true">[%$ST.infook_botton%]</a></li>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=typemanage&action=typesetting&ch=1','selectinfoid',true,'isaccessory',0,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.lockok_botton%]" hidefocus="true">[%$ST.lockok_botton%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%/if%]
</ul>
[%/if%]      