[%#%]显示属性列表[%#%]
[%if $menutype == 'recomlist'%]
<ul class="listbottonul" id="listbottonul">
	[%if @this->powercheck('article','recomadd')==true %]
	<li class="menumain"><a class="addinfo" onclick="javascript:parent.onbotton('[%$ST.recommanage_type_add|addslashes('hc')%]','index.php?archive=recommanage&action=recomadd&tab=true&mid=[%$mid%]&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addinfo',self.frameElement.getAttribute('name'));" id="addinfo" href="#body" title="[%$ST.recommanage_type_add%]" hidefocus="true">[%$ST.recommanage_type_add%]</a></li>
	[%/if%]
	<li class="menumain"><a id="selectall" class="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	[%if @this->powercheck('article','delrecomm')==true %]
	<li class="menumain"><a id="del" onclick="javascript:callrun('index.php?archive=recommanage&action=delrecomm','selectinfoid',false,null,null,'index.php?archive=management&action=load','[%$ST.del_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.del_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
</ul>
[%/if%]      