[%#%]手机号列表[%#%]
[%if $menutype == 'moblielist'%]
<ul class="listbottonul" id="listbottonul">
	<li class="menumain"><a id="selectall" class="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" title="[%$ST.selAll_botton%]" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	<li class="menumain"><a id="bolt" href="#body" hidefocus="true" hidefocus="true">[%$ST.bolt_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.lock_botton%]</span>
				<ul>
					<li><a class="menunoclick" id="typeisclass0" href="#body" onclick="javascript:dbfilter('typeisclass','isclass',0,0,3,'selectform','selectall','check_all')" title="[%$ST.all_botton%]" hidefocus="true">[%$ST.all_botton%]</a></li>
					<li><a class="menuclick" id="typeisclass1" href="#body" onclick="javascript:dbfilter('typeisclass','isclass',1,1,3,'selectform','selectall','check_all')" title="[%$ST.infook_botton%]" hidefocus="true">[%$ST.infook_botton%]</a></li>
					<li><a class="menuclick" id="typeisclass2" href="#body" onclick="javascript:dbfilter('typeisclass','isclass',2,2,3,'selectform','selectall','check_all')" title="[%$ST.lockok_botton%]" hidefocus="true">[%$ST.lockok_botton%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%if @this->powercheck('marketing','moblietypedel')==true %]
	<li class="menumain"><a id="del" onclick="javascript:callrun('index.php?archive=mobliemain&action=mobliedel','selectinfoid',false,null,null,'index.php?archive=management&action=load','[%$ST.del_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.del_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
	[%if @this->powercheck('marketing','moblietypeedit')==true %]
	<li class="menumain"><a id="setbotton" href="#body" hidefocus="true" title="[%$ST.set_botton%]">[%$ST.set_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.lock_set_botton%]</span>
				<ul>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=mobliemain&action=mbsetting','selectinfoid',true,'isclass',1,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.open_botton_title%]" hidefocus="true">[%$ST.open_botton_title%]</a></li>
					<li><a class="menuclick" href="#body" onclick="javascript:callrun('index.php?archive=mobliemain&action=mbsetting','selectinfoid',true,'isclass',0,'index.php?archive=management&action=load','[%$ST.update_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" title="[%$ST.close_botton_title%]" hidefocus="true">[%$ST.close_botton_title%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%/if%]
</ul>
[%/if%]      