[%#%]财务单据管理[%#%]
[%if $menutype == 'payreceiptlist'%]
<ul class="listbottonul" id="listbottonul">
	<li class="menumain"><a id="selectall" class="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" title="[%$ST.selAll_botton%]" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	<li class="menumain"><a id="bolt" href="#body" hidefocus="true" hidefocus="true">[%$ST.bolt_botton%]</a>
		<ul class="menulist">
			<li><span class="menufont">[%$ST.payreceiptlist_class_botton%]</span>
				<ul>
					<li><a class="menunoclick" id="payisclass0" href="#body" onclick="javascript:dbfilter('payisclass','isclass',0,0,3,'selectform','selectall','check_all')" title="[%$ST.all_botton%]" hidefocus="true">[%$ST.all_botton%]</a></li>
					<li><a class="menuclick" id="payisclass1" href="#body" onclick="javascript:dbfilter('payisclass','isclass',1,1,3,'selectform','selectall','check_all')" title="[%$ST.payreceiptlist_text_class1%]" hidefocus="true">[%$ST.payreceiptlist_text_class1%]</a></li>
					<li><a class="menuclick" id="payisclass2" href="#body" onclick="javascript:dbfilter('payisclass','isclass',2,2,3,'selectform','selectall','check_all')" title="[%$ST.payreceiptlist_text_class2%]" hidefocus="true">[%$ST.payreceiptlist_text_class2%]</a></li>
				</ul>
			</li>
		</ul>
	</li>
	[%if @this->powercheck('order','payreceiptdel')==true %]
	<li class="menumain"><a id="del" onclick="javascript:callrun('index.php?archive=payreceipt&action=payreceiptdel','selectinfoid',false,null,null,'index.php?archive=management&action=load','[%$ST.del_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.del_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
</ul>
[%/if%]      