[%#%]站群列表[%#%]
[%if $menutype == 'sitelist'%]
<ul class="listbottonul" id="listbottonul">
	[%if @this->powercheck('system','siteadd')==true %]
	<li class="menumain"><a id="addinfo" class="addinfo" onclick="javascript:parent.onbotton('[%$ST.botton_add_siteadd|addslashes('hc')%]','index.php?archive=sitemain&action=siteadd&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),false,'addinfo',self.frameElement.getAttribute('name'));"  href="#body" title="[%$ST.botton_add_siteadd%]" hidefocus="true">[%$ST.botton_add_siteadd%]</a></li>
	[%/if%]
	<li class="menumain"><a id="selectall" class="selectall" href="javascript:select_change(true,'selectform','selectall','check_all')" title="[%$ST.selAll_botton%]" hidefocus="true">[%$ST.selAll_botton%]</a></li>
	[%if @this->powercheck('system','sitedel')==true %]
	<li class="menumain"><a id="del" onclick="javascript:callrun('index.php?archive=sitemain&action=del','selectinfoid',false,null,null,'index.php?archive=management&action=load','[%$ST.del_messok%]','[%$ST.select_no%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.del_botton%]</a></li>
	[%/if%]
	[%if @this->powercheck('system','siteedit')==true %]
	<li class="menumain"><a id="sortall" onclick="javascript:sortinput('index.php?archive=sitemain&action=sort','index.php?archive=management&action=load','[%$ST.sort_messok%]',true,'[%$ST.run_ok%]','[%$ST.run_no%]','selectform','selectall','check_all');" href="#body" hidefocus="true">[%$ST.pid_botton%]</a></li>
	[%/if%]
	<li class="menumain"><a id="refresh" href="#body" onclick="javascript:refresh('selectform','selectall','check_all');" title="[%$ST.refresh_botton%]" hidefocus="true">[%$ST.refresh_botton%]</a></li>
</ul>
[%/if%]      