.displaynone{display:none;}
.displaytrue{overflow:hidden;}
.im_floatonline{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.im_floatonline .right{
	width: 50px;
	height: 190px;
	cursor: pointer;
	float: right;
	overflow: hidden;
}
.float-box-content {
	margin:0px;
	padding:0px 0px 20px 0px;
	width: 160px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.float-box-content .toptitle{
	margin:0 auto;
	height:40px;
	line-height: 40px;
	color:#fff;
	width:160px;
	font-size:14px;
	text-align: center;
	font-weight:bold;
	overflow: hidden;
}
.float-box-content .addlist{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	overflow: hidden;
}
.float-box-content .addlist ul {
	list-style: none;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
}
.float-box-content .addlist ul li {
	width:160px;
	padding-top:10px;
	line-height:25px;
	overflow: hidden;
}
.serverbotton{
	margin:0 auto;
	text-align:center;
	overflow: hidden;
}
.serverbotton ul {
	list-style: none;
	margin:0 auto;
	padding: 0;
}
.serverbotton ul li {
	margin: 0 auto;
	margin-top:10px;
	text-align:center;
	padding: 0px;
	overflow: hidden;
}