<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 推广优化组件开始 -->
    <title>{%$lngpack.sitename%}</title>
    <meta name="keywords" content="{%$lngpack.keyword%}">
    <meta name="description" content="{%$lngpack.description%}">
    <!-- 推广优化组件结束 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <!-- css start -->
    <link type="text/css" rel="stylesheet" href="{%$rootpath%}style/reset.css">
    <link type="text/css" rel="stylesheet" href="{%$rootpath%}style/public.css">
    <link type="text/css" rel="stylesheet" href="{%$rootpath%}style/inside.css">
    <link rel="stylesheet" href="{%$rootpath%}style/fakeLoader.css">
    <!-- css end -->
</head>

<body>
    <div class="wrap">
        <div id="wrap">
            <div id="mask"></div>
            <!-- head start -->
            <div id="head">
                <a class="back" href="javascript:history.go(-1)"></a>
                <div id="navSwitch">
                    <span class="s1"></span>
                    <p></p>
                    <span class="s3"></span>
                </div>
                <h1>{%$type.typename%}</h1>
            </div>
            <!-- head end -->
            <!-- secNav start -->
            {%link file="cn/public/secNav.html"%}
            <!-- secNav end -->
            <div class="content stardard">
                <table border="0" cellpadding="0" cellspacing="1">
                    <tr>
                        <td>类型</td>
                        <td>状态</td>
                        <td>标准名称</td>
                        <td>发布时间</td>
                        <td>实施时间</td>
                    </tr>
                    {%forlist from=$array key=i%}
                    <tr>
                        <td>{%$array[i].leixing%}</td>
                        <td>{%$array[i].zhuangtai%}</td>
                        <td>
                            {%if $array[i].zhuangtai == '发布实施'%}
                            <a href="{%$rootdir%}{%$array[i].files%}">
                                {%$array[i].title%}
                            </a>
                            {%else%}
                            {%$array[i].title%}
                            {%/if%}
                        </td>
                        <td>
                            {%if $array[i].files != '' %}
                            {%$array[i].timeone|timeformat(2)%}
                            {%/if%}
                        </td>
                        <td>
                            {%if $array[i].zhuangtai == '发布实施'%}
                            {%$array[i].timetwo|timeformat(2)%}
                            {%/if%}
                        </td>
                    </tr>
                    {%/forlist%}
                </table>
                <p class="ps">备注：名称带有下划线的可下载标准文件。</p>
            </div>
            <!-- navigation  start-->
            {%link file="cn/public/nav.html"%}
            <!-- navigation  end-->
            <!-- footer start -->
            {%link file="cn/public/footer.html"%}
            <!-- footer end -->
        </div>
    </div>
</body>

</html>
