<!DOCTYPE html>

<html lang="en">



<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<title>{%$lngpack.sitename%}</title>

<meta name="keywords" content="{%$lngpack.keyword%}" />

<meta name="description" content="{%$lngpack.description%}" />

<script type="text/javascript" src="{%$rootdir%}js/jquery.js"></script>

<script type="text/javascript" src="{%$rootdir%}js/basicrun.js"></script>

<script type="text/javascript" src="{%$rootdir%}js/jquery.Slide.js"></script>

<link rel="shortcut icon" href="{%$rootpath%}images/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/common.css">

    <link rel="stylesheet" type="text/css" href="{%$rootpath%}css/styles.css">

<link href="{%$rootpath%}css/public.css" rel="stylesheet" type="text/css" />

<link href="{%$rootpath%}css/5div.css" rel="stylesheet" type="text/css" />

<link href="{%$rootpath%}css/page.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

	$(window).load(function() {

		$("#clickmenubotton li span").hover(function() {

			$(this).addClass("menuhover");

			$(this).parent().find("ul.subnav").slideDown('fast').show();

			$(this).parent().hover(function() {

			}, function() {

				$(this).parent().find("ul.subnav").fadeOut('fast');

				$(this).parent().find("span").removeClass("menuhover");

			});

		});

	});



	var seconds = {%$tiptime%};

	var defaultUrl = "{%$linkURL%}";

	onload = function() {

		if (defaultUrl == 'javascript:history.go(-1)' && window.history.length == 0) {

			document.getElementById('redirectionMsg').innerHTML = '';

			return;

		}

		window.setInterval(redirection, 1000);

	}

	function redirection() {

		if (seconds <= 0) {

			window.clearInterval();

			return;

		}

		seconds--;

		document.getElementById('spanSeconds').innerHTML = seconds;

		if (seconds == 0) {

			window.clearInterval();

			location.href = defaultUrl;

		}

	}

</script>

</head>



<body>



  <!-- banner -->

    {%if $type.typepic!=''%}

<div class="ql_page_bannpic"><img src="{%$rootdir%}{%$type.typepic%}" alt="{%$type.typename%}"/></div>

{%/if%}

    <!-- banner end-->



<div class="ql_page" style="margin-bottom:80px;">

	<div class="ql_member_login_center ql_formwidth_c">

		<div class="title mb20"><div class="messageicon2"></div></div>

		<div class="ql_form_group tc f14 oninage b">{%$calltitle%}</div>

		<div class="ql_form_group tc f14">您可以选择以下操作按钮，网站将在<span class="em" id="spanSeconds">{%$tiptime%}</span>秒钟后返回默认地址！</div>



		<div class="ql_form_group tc pt15">

			{%if $backid > 0%}

			<input class="button blue2" onclick="javascript:location.href = '{%$backlinkURL%}';" name="submit" type="submit" value="{%$backBotton%}" />

			{%/if%}

			<input class="button blue2" onclick="javascript:location.href = '{%$linkURL%}';" name="submit" type="submit" value="{%$bottonName%}" />

		</div>

	</div>

</div>

</body>

</html>

